<form action="/quotes/update_quote?id=3" method="post">
  <div>
    <label for="submitter">Submitter:</label>
    <input type="text" id="submitter" name="submitter" value=<%= obj["submitter"] %>>
  </div>

  <br/>

  <div>
    <label for="quote">Quote:</label>
    <textarea id="quote" name="quote"><%= obj["quote"] %></textarea>
  </div>

  <br/>

  <div>
    <label for="attribution">Attribution:</label>
    <input type="text" id="attribution" name="attribution" value=<%= obj["attribution"] %>>
  </div>

  <br/>

  <div>
    <button type="submit">Update Quote</button>
  </div>
</form>