<% quotes.each do |q| %>
  <div>
    <p><%= q["quote"] %></p>
    <a href=<%= "/quotes/edit?id=#{q["id"]}" %>>edit</a>
    <form action=<%= "/quotes/destroy?id=#{q["id"]}" %> method="post">
      <button type="submit">delete</button>
    </form>
  </div>

  <br/><br/>
<% end %>